extends layout

block content
		script( type='text/javascript' src='/js/ajax/ajaxForum.js' )

		#selectedForumTopic.left_fixedcontainer.bg_white
			.b_img.bgprimary_colorDarker.flat_shadow
				.pd_16(style='padding-right: 13px;')
					.minimenu_container
						.minimenu
							span
							span
							span
						.minimenu_hidden
							.pd_16.hover Editar
							.pd_16.hover Seguir
							.pd_16.hover Reportar Abuso
				.colhh1.listitem.bg_opc.white_text
					.pd_16.forumtopic_title
						.colhh1.ll_title(title="Algo") #{forum_info[0].topicTitle}
						.listitem_bottomdata #{forum_info[0].topicSubject}

			.bottom_info
				.pd_18
					.colhh1.right_text.mr_bot4.opacity_color.sl_title
						| #{forum_info[0].forumTopicDate} a las #{forum_info[0].forumTopicTime}
					.colhh1
						.colhh1.ll_title.opacity_color Creado Por:
						.colhh1.listitem.f_li
							.listitem_info
								.listitem_title 
									b #{forum_info[0].userFullName}
								.listitem_bottomdata #{forum_info[0].userEmail}
							.listitem_img
								img(src='/images/#{forum_info[0].photoName}.png' onerror='this.src="/images/profilephoto.png"')
					.pd_4
					.colhh1
						.colhh1.ll_title.opacity_color Descripción:
						.pd_4
						.colhh1
							| #{forum_info[0].topicDescription}

		.topspace
		.pagecontainer_right
			.page_container
				.block_container.bg_white
					.colhh1.bg_lightgray.flat_shadow
						.pd_18.ll_title Comentar
					form#addNewForumComment.colhh1.flat_input.rel_pos(name='addNewForumComment' action='/api/forum/#{topic}'  method="POST")
						img.circle(src='/profile_photos/#{datos[0].photoName}.png' onerror="this.onerror=null;this.src='/images/profilephoto.png'")
						textarea(type='text' name='forumCommentText' placeholder='Escribe un Comentario')
						input.b_text.opacity_color.rippleria-dark(data-rippleria type='submit' name='forumCommentSubmit' value='PUBLICAR' disabled)

				//- .colhh1
				//- 	.autocol.bg_lightgray.right_float.rel_pos(style="padding: 0px;")
				//- 		.minimenu.hover.pd_8
				//- 			.autocol.txtprimary_color.pd_4.v_middle.ll_title(style="margin-left: 4px;") Ordenar por
				//- 			.small_icon.bg_arrowdrop.v_middle
				//- 		.minimenu_hidden.left_text(style="top: 12px;right: 12px;")
				//- 			.pd_16.hover.rippleria-dark(data-rippleria) Cronológico
				//- 			.pd_16.hover.rippleria-dark(data-rippleria) Mas Me gusta
				//- 			.pd_16.hover.rippleria-dark(data-rippleria) Mas Respuestas
									
				#forum_commentscontainer.colhh1
					.colhh1.empty_blocktext.center_text
						.load_container
							.load
								.spinner
					

			.colhh1(style='height: 128px;')