doctype html
html
	head(name='theme-color')
		title= title
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		meta( name="theme-color" content="#0288D1" )
		meta( name='viewport', content='width=device-width, maximum-scale=1.0 user-scalable=no' )
		link( rel='shortcut icon', type='image/png', href='images/smdelogo.png' )
		link( rel='stylesheet', href='/stylesheets/style.css')
		link( rel='stylesheet', href='/stylesheets/style_responsive.css')
		link( rel='stylesheet', href='/js/rippleclick/css/jquery.rippleria.css')
		script( type='text/javascript' src='/js/angular.min.js' )
		script( type='text/javascript' src='/js/jquery.js' )
		script( type='text/javascript' src="/js/material_spinner/dist/js/material.spinner.min.js" )
		script( type='text/javascript' src='/js/rippleclick/js/jquery.rippleria.js' )
		script( type='text/javascript' src='/js/viewscontrol.js' )
		script(	src='/js/htmlspecialchars/index.js' )
		script.
			sessionUser = '#{datos[0].userEmail}';
			sessionUserName = '#{datos[0].userName}';
			sessionUserLastName = '#{datos[0].userLastName}';
			sessionUserPhoto = '#{datos[0].photoName}';
			sessionUserType = '#{privilegio}';
	- var bodyClass
	//- if req.session.privilegio != undefined
		- var privilegio = req.session.privilegio
	if datos[0].darkTheme == 1
		- bodyClass = 'dark_theme'
	else
		- bodyClass = ''

	if datos[0].photoName != null || datos[0].photoName != ''
		- var background = datos[0].photoName 
		style.
			.profile_img, .menu_userbg{
				background-image: url('profile_backgrounds/#{background}.png');
			}

	body(class=bodyClass)
		#menu.menu_grid.bg_white
			.colhh1.menu_userbg.center_text
				.bg_opacity
					.menu_userimg
						a( href='/profile' )
							img.circle.flat_shadow(src='http://localhost:3000/profile_photos/'+ datos[0].photoName +'.png')
					.colhh1.menu_username
						a( href='/profile' )
							.pd_16
								| #{datos[0].userName} 
								| #{datos[0].userLastName} 
								| #{datos[0].userSecondLastName}
								span 
									| #{datos[0].userEmail}
			.colhh1.menu_opccontainer
				.pd_tb_10.border_bottom
					a( href='/main' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/home.png")' )
							label Inicio
					- if (privilegio == 1 || privilegio == 2)
						a( href='/subjects' )
							.opc.hover
								span( style='background-image: url("http://localhost:3000/images/book-multiple.png")' )
								label Asignaturas
					a( href='/calendar' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/calendar.png")' )
							label Agenda
					a( href='/messages' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/email.png")' )
							label Mensajes
					- if (privilegio == 1 || privilegio == 2)
						a( href='/contents' )
							.opc.hover
								span( style='background-image: url("http://localhost:3000/images/book-open.png")' )
								label Contenidos
						a( href='/foro' )
							.opc.hover
								span( style='background-image: url("http://localhost:3000/images/forum.png")' )
								label Foro
					- if (privilegio == 3)
						a( href='/management' )
							.opc.hover
								span( style='background-image: url("http://localhost:3000/images/laptop.png")' )
								label Gestión
					a( href='/profile' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/account-circle.png")' )
							label Perfil
				.pd_tb_10
					a( href='/settings' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/settings.png")' )
							label Ajustes
					a( href='/logout' )
						.opc.hover
							span( style='background-image: url("http://localhost:3000/images/logout.png")' )
							label Cerrar sesión		
		.back_menu
		.body_container
			.top_pallete_inner
				.inner
			.top_pallete.colhh1.bgprimary_color
				#menubutton.menu_button( title='Menu' )
					span
					span
					span
				.top_title #{title}
			.notifications_container.notif
				.icon_container
					.notif_icon.circle.rippleria-dark( data-rippleria title='Notificaciones' )
				.notifications_hidden.flat_shadow.bg_lightgray
					.colhh1.center_text.rel_pos.border_bottom
						.bg_lightgray
							.pd_12.ll_title.notif_title Notificaciones
								a(href='/settings')
									span#notif_settings_icon.title_rightoptionicon.circle(style='background-image: url("http://localhost:3000/images/settings.png")' title='Configuración')
					.colhh1.notifscroll.listcontainer
						.colhh1.empty_blocktext.center_text
							.centerempty
								.pd_64
									span.v_middle(style= 'background-image: url("http://localhost:3000/images/bell-off.png")')
									.autocol.mm_title.pd_12 No tienes notificaciones.
									.ll_title.normal_txt Tus notificaciones apareceran aqui.
						//- .colhh1.notif_listcontainer
						//- 	.colhh1.hover.rippleria-dark(data-rippleria)
						//- 		.listitem_img
						//- 			span A
						//- 		.listitem_info
						//- 			.listitem_rightinfo 10 sep
						//- 			.listitem_title 
						//- 				b Titulo de Notificación
						//- 			.listitem_bottomdata Vista previa de notificación

			block content