extends layout

block content

		script( type='text/javascript' src='/js/ajax/ajaxManagement.js' )
			
		#new_item.float_buttoncontainer( title='Agregar Usuario' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Nuevo
				.colhh1.hb_formcontainer
					.form_innercontainer
						.pd12_24.flat_shadow.bgprimary_color
							.form_input.white_text
								select#select_insertType.activeline.txtaccent_colorfall
									option(value='Student' selected) Alumno
									option(value='Teacher') Profesor
									option(value='Department') Academia
									option(value='Subject') Asignatura
									option(value='Course') Grupo
									option(value='SubjectCourse') Curso
						form#show_studentinsert.hidden_form( name='insert_new', action='insertStudent', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Nombre(s)
									input(type='text', placeholder='Nombre(s)' name='insertStudentName')
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='insertStudentLastName')
										input.second(type='text', placeholder='Materno' name='insertStudentSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='insertStudentSex')
										option(value='H') Hombre
										option(value='M') Mujer
								.form_input
									.b_text.left_title Email
									input(type='email', placeholder='email@email.com' name='insertStudentEmail')
								.form_input
									.b_text.left_title Contraseña
									input(type='password', placeholder='*******' name='insertStudentPassword')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_teacherinsert.hidden_form( name='insert_new', action='insertTeacher', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Nombre(s)
									input(type='text', placeholder='Nombre(s)' name='insertTeacherName')
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='insertTeacherLastName')
										input.second(type='text', placeholder='Materno' name='insertTeacherSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='insertTeacherSex')
										option(value='H') Hombre
										option(value='M') Mujer
								.form_input
									.b_text.left_title Email
									input(type='email', placeholder='email@email.com' name='insertTeacherEmail')
								.form_input
									.b_text.left_title Contraseña
									input(type='password', placeholder='*******' name='insertTeacherPassword')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_deptinsert.hidden_form( name='insert_new', action='insertDept', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertDeptName')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_subjectinsert.hidden_form( name='insert_new', action='insertSubject', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertSubjectName')
								.form_input
									.b_text.left_title Nivel
									input(type='text', placeholder='Nivel' name='insertSubjectLevel')
								.form_input
									.b_text.left_title Academia
									select.mgm_departmentslist(name='insertSubjectDept')
										if departmentsData != undefined
											each item in departmentsData
												option(value='#{item.idDepartment}') #{item.departmentName}
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_courseinsert.hidden_form( name='insert_new', action='insertCourse', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertCourseName')
								.form_input
									.b_text.left_title Nivel
									input(type='text', placeholder='Nivel' name='insertCourseLevel')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_subjectcourseinsert.hidden_form( name='insert_new', action='insertSubjectCourse', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Asignatura
									select.mgm_subjectslist(name='insertSubjectCourseSId')
										if subjectsData != undefined
											each item in subjectsData
												option(value='#{item.idSubject}') #{item.subjectName}
								.form_input
									.b_text.left_title Grupo
									select.mgm_courseslist(name='insertSubjectCourseCId')
										if coursesData != undefined
											each item in coursesData
												option(value='#{item.idCourse}') #{item.courseName}
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
		.topspace
		.page_container
			.block_container.bg_white.profile_bgcont(style='margin-bottom: 0;')
				.colhh1.profile_img
					.photo
						a(href='/profile')
							img.circle.flat_shadow(src='profile_photos/'+ datos[0].photoName +'.png')
				.pd_24
					.colhh1
						.name
							div #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
							span 
								.b_text.autocol Institución: 
								| &nbsp; #{datos[0].instituteName}
			
			.h_listcontainer#managementData
				.block_container.bg_white.mgmlisthor.v_top
					.colhh1.rel_pos
						.h_listline.bgaccent_color
						#mgm_filter.h_listtopcontainer
							.autocol.h_listitem.first.vlist_bg.b_text(data-filter='Administrador')
								.pd_16.rippleria-dark( data-rippleria ) Administradores
							.autocol.h_listitem(data-filter='Alumno')
								.pd_16.rippleria-dark( data-rippleria ) Alumnos
							.autocol.h_listitem(data-filter='Profesor')
								.pd_16.rippleria-dark( data-rippleria ) Profesores
							.autocol.h_listitem(data-filter='Academia')
								.pd_16.rippleria-dark( data-rippleria ) Academias
							.autocol.h_listitem(data-filter='Asignatura')
								.pd_16.rippleria-dark( data-rippleria ) Asignaturas
							.autocol.h_listitem(data-filter='Grupo')
								.pd_16.rippleria-dark( data-rippleria ) Grupos

				.mgm_listcontainer

					.colhh1.h_listindex.first.search_inMngm
						.listcontainer.admins

					.colhh1.h_listindex.search_inMngm
						.listcontainer.students

					.colhh1.h_listindex.search_inMngm
						.listcontainer.teachers

					.colhh1.h_listindex.search_inMngm
						.listcontainer.departments

					.colhh1.h_listindex.search_inMngm
						.listcontainer.subjects

					.colhh1.h_listindex.search_inMngm
						.listcontainer.groups

					.colhh1.empty_blocktext.center_text
						.load_container
							.load
								.flat_shadow.borad.autocol.pd_32.bg_white
									.spinner
										
			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016