extends layout

block content

	script( type='text/javascript' src='/ajax/ajaxManagement.js' )
	#managementApp
		#new_item.float_buttoncontainer( title='Agregar Usuario' )
			span.bg_plus.bgaccent_color
				
		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Nuevo
				.colhh1.hb_formcontainer
					.form_innercontainer
						.pd12_24.flat_shadow.bgprimary_color
							.form_input.white_text
								select#select_insertType.activeline.txtaccent_colorfall
									option(value='Student' selected) Alumno
									option(value='Teacher') Profesor
									option(value='Department') Academia
									option(value='Subject') Asignatura
									option(value='Course') Grupo
						form#show_studentinsert.hidden_form( name='insert_new', action='insertStudent', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' maxlength='20' name='insertStudentIdKey')
								.form_input
									.b_text.left_title Nombre(s)
									input(type='text', placeholder='Nombre(s)' name='insertStudentName')
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='insertStudentLastName')
										input.second(type='text', placeholder='Materno' name='insertStudentSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='insertStudentSex')
										option H
										option M
								.form_input
									.b_text.left_title Email
									input(type='email', placeholder='email@email.com' name='insertStudentEmail')
								.form_input
									.b_text.left_title Contraseña
									input(type='password', placeholder='*******' name='insertStudentPassword')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_teacherinsert.hidden_form( name='insert_new', action='insertTeacher', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' maxlength='20' name='insertTeacherIdKey')
								.form_input
									.b_text.left_title Nombre(s)
									input(type='text', placeholder='Nombre(s)' name='insertTeacherName')
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='insertTeacherLastName')
										input.second(type='text', placeholder='Materno' name='insertTeacherSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='insertUserSex')
										option H
										option M
								.form_input
									.b_text.left_title Email
									input(type='email', placeholder='email@email.com' name='insertTeacherEmail')
								.form_input
									.b_text.left_title Contraseña
									input(type='password', placeholder='*******' name='insertTeacherPassword')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_deptinsert.hidden_form( name='insert_new', action='insertDept', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' maxlength='20' name='insertDeptIdKey')
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertDeptName')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_subjectinsert.hidden_form( name='insert_new', action='insertSubject', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' maxlength='20' name='insertSubjectIdKey')
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertSubjectName')
								.form_input
									.b_text.left_title Nivel
									input(type='text', placeholder='Nivel' name='insertSubjectLevel')
								.form_input
									.b_text.left_title Academia
									input(type='text', placeholder='Nombre Academia' name='insertSubjectDept')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
						form#show_courseinsert.hidden_form( name='insert_new', action='insertCourse', method='post' )
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' maxlength='20' name='insertCourseIdKey')
								.form_input
									.b_text.left_title Nombre
									input(type='text', placeholder='Nombre' name='insertCourseName')
								.form_input
									.b_text.left_title Nivel
									input(type='text', placeholder='Nivel' name='insertCourseLevel')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
									.pd_12
										.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text.hide_comfirm(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')
		.topspace
		.page_container
			.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img.circle( src='images/profilephoto.png' )
					.name
						.pd_18
							b #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
							span Institución: #{datos[0].Institute_idInstitute}
			.h_listcontainer
				.colhh1.bg_lightgray(style='margin-bottom: -8px;')
					.colhh1.rel_pos
						.h_listline.bgaccent_color
						.h_listtopcontainer#mgm_filter
							#load_all.h_listitem.first(data-filter='Todo')
								.pd_16.rippleria-dark( data-rippleria ) Todo
							.h_listitem(data-filter='Alumno')
								.pd_16.rippleria-dark( data-rippleria ) Alumnos
							.h_listitem(data-filter='Profesor')
								.pd_16.rippleria-dark( data-rippleria ) Profesores
							.h_listitem(data-filter='Academia')
								.pd_16.rippleria-dark( data-rippleria ) Academias
							.h_listitem(data-filter='Asignatura')
								.pd_16.rippleria-dark( data-rippleria ) Asignaturas
							.h_listitem(data-filter='Grupo')
								.pd_16.rippleria-dark( data-rippleria ) Grupos
				.block_container.bg_white
					.colhh1.bg_lightgray
						.search
							span.searchicon
							input#buscar_slide(type='text',name='buscar', placeholder='Buscar Cualquier Cosa')
					#listcontainer.colhh1.managementlist
						.colhh1.load_container#management_showall
							.load
								.spinner
						.colhh1.no_result
						if adminsData != undefined
							each item in adminsData
								.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Administrador')
									.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											img(src='images/profilephoto.png')
										.listitem_info
											.listitem_title 
												b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
											.listitem_bottomdata Administrador
									.colhh1.innerlistitem
										.colhh1.border_bottom
											.list_borderleft
												.colhh1
													.pd_llist
														.sl_title Informacion
													.pd_llist
														.pd_l12.sl_title Id: 
															span.margin_l.normal_txt #{item.idAdministrator}
														.pd_4
														.pd_l12.sl_title Correo: 
															span.margin_l.normal_txt #{item.userEmail}
														.pd_4
														.pd_l12.sl_title Sexo: 
															span.margin_l.normal_txt #{item.userSex}
						if studentsData != undefined
							each item in studentsData
								.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Alumno')
									.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria)
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											img(src='images/profilephoto.png')
										.listitem_info
											.listitem_title 
												b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
											.listitem_bottomdata Alumno
									.colhh1.innerlistitem(data-id='#{item.userEmail}')
										.colhh1.border_bottom
											.list_borderleft
												.colhh1
													.pd_llist
														.sl_title Informacion
													.pd_llist
														.pd_l12.sl_title Id: 
															span.margin_l.normal_txt #{item.idStudent}
														.pd_4
														.pd_l12.sl_title Correo: 
															span.margin_l.normal_txt #{item.userEmail}
														.pd_4
														.pd_l12.sl_title Sexo: 
															span.margin_l.normal_txt #{item.userSex}
												.pd_8
												.colhh1
													.pd_llist
														.sl_title Grupos y Asignaturas
													.studentsubjects_list
														//- if studentSubjects != undefined
														//- 	each subItem in studentSubjects
														//- 		.colhh1.hover
														//- 			.listitem_img
														//- 				span B
														//- 			.listitem_info
														//- 				.listitem_rightinfo 
														//- 					| #{subItem.idSubject}
														//- 				.listitem_title 
														//- 					b #{subItem.subjectName}
														//- 				.listitem_bottomdata
														//- 					| Grupo: #{subItem.courseName}
						if teachersData != undefined
							each item in teachersData
								.colhh1.slide_list.teacher(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Profesor')
									.colhh1.hover.listitem.rel_pos.rippleria-dark.item_teacher(data-rippleria data-id='#{item.userEmail}')
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											img(src='images/profilephoto.png')
										.listitem_info
											.listitem_title 
												b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
											.listitem_bottomdata Profesor
									.colhh1.innerlistitem(data-id='#{item.userEmail}')
										.colhh1.border_bottom
											.list_borderleft
												.colhh1
													.pd_llist
														.sl_title Informacion
													.pd_llist
														.pd_l12.sl_title Id: 
															span.margin_l.normal_txt #{item.idTeacher}
														.pd_4
														.pd_l12.sl_title Correo: 
															span.margin_l.normal_txt #{item.userEmail}
														.pd_4
														.pd_l12.sl_title Sexo: 
															span.margin_l.normal_txt #{item.userSex}
												.pd_8
												.colhh1
													.pd_llist
														.sl_title Grupos y Asignaturas
													.teachersubjects_list
														//- if teacherSubjects != undefined
														//- 	each subItem in teacherSubjects
														//- 		.colhh1.hover
														//- 			.listitem_img
														//- 				span B
														//- 			.listitem_info
														//- 				.listitem_rightinfo 
														//- 					| #{subItem.idSubject}
														//- 				.listitem_title 
														//- 					b #{subItem.subjectName}
														//- 				.listitem_bottomdata
														//- 					| Grupo: #{subItem.courseName}
						if subjectsData != undefined
							each item in subjectsData
								.colhh1.slide_list(data-name='#{item.SubjectName}' data-type='Asignatura')
									.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											span A
										.listitem_info
											.listitem_title 
												b #{item.subjectName}
											.listitem_bottomdata
												| Asignatura
									.colhh1.innerlistitem
										.colhh1.border_bottom
											.list_borderleft
												.pd_llist
													.sl_title Información
												.pd_llist
													.pd_l12.sl_title Id:
														span.margin_l.normal_txt #{item.idSubject}
													.pd_4
													.pd_l12.sl_title Nivel:
														span.margin_l.normal_txt #{item.subjectLevel}
													//- .colhh1.pd_l12 Asignaturas: 
													//- 	span.margin_l Civismo, Desarrollo Personal
						if departmentsData != undefined
							each item in departmentsData
								.colhh1.slide_list(data-name='#{item.departmentName}' data-type='Academia')
									.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											span A
										.listitem_info
											.listitem_title 
												b #{item.departmentName}
											.listitem_bottomdata
												| Academia
									.colhh1.innerlistitem
										.colhh1.border_bottom
											.list_borderleft
												.pd_llist
													.sl_title Información
												.pd_llist
													.pd_l12.sl_title Id:
														span.margin_l.normal_txt #{item.idDepartment}
													//- .colhh1.pd_l12 Asignaturas: 
													//- 	span.margin_l Civismo, Desarrollo Personal
						if coursesData != undefined
							each item in coursesData
								.colhh1.slide_list(data-name='#{item.courseName}' data-type='Grupo')
									.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
										.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
										.listitem_img
											span A
										.listitem_info
											.listitem_title 
												b #{item.courseName}
											.listitem_bottomdata
												| Grupo
									.colhh1.innerlistitem
										.colhh1.border_bottom
											.list_borderleft
												.pd_llist
													.sl_title Información
												.pd_llist
													.pd_l12.sl_title Id:
														span.margin_l.normal_txt #{item.idCourse}
													.pd_4
													.pd_l12.sl_title Nivel:
														span.margin_l.normal_txt #{item.courseLevel}
