extends layout

block content

		script( type='text/javascript' src='/ajax/ajaxMessages.js' )
		script( type='text/javascript' src='/socket.io/socket.io.js' )

		#new_item.float_buttoncontainer.leftlist_floatbutton( title='Nuevo Mensaje' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text.flat_shadow Nuevo
				.colhh1.hb_formcontainer
					form(name='new_messageform')
						#newmsm_form.form_innercontainer
							.colhh1(style='margin-top:2px;')
								.form_input2.border_bottom.rel_pos
									input#hidden_inputsendto(type='text' value='' name='insetUsersLobby')
								.form_input2.border_bottom.rel_pos
									input#search_newmsmcontacts(type='text' placeholder='Para' autocomplete='off')
									#contacts_to_send.msm_sendtocontainer
										//- .msm_sendtocontact.rel_pos(data-email='')
										//- 	.msm_sendtoremove
										//- 		.bg_opacity.bg_cross.circle
										//- 	img.sendtoimg.circle.v_middle(src='images/profilephoto.png')
										//- 	.name.circle.bg_lightgray.opacity_color.v_middle Alejandro Villarroel
										#msm_addperson.small_icon.circle.v_middle.bg_plusgray.hover.rippleria-dark(data-rippleria)(title='Añadir Persona')
									#msm_contactscontainer.colhh1.bg_lightgray.autooverflow.flat_shadow
										.colhh1.txtprimary_color.sl_title.msm_contactstitle
											#showall_button.pd_12.autooverflow
												.right_float Mostrar Todos
										.colhh1.no_result
										.colhh1.opacity_color.sl_title.msm_contactstitle(data-type='Administrador')
											.pd_12 Administradores
										if profileContactsAdministrators != undefined
											each item in profileContactsAdministrators
												.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-email='#{item.userEmail}' data-type='Administrador')
													.listitem_img
														img(src='images/profilephoto.png')
													.listitem_info
														.listitem_title 
															b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
														.listitem_bottomdata #{item.userEmail}
										.colhh1.opacity_color.sl_title.msm_contactstitle(data-type='Alumno')
											.pd_12 Alumnos
										if profileContactsStudents != undefined
											each item in profileContactsStudents
												.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-email='#{item.userEmail}' data-type='Alumno')
													.listitem_img
														img(src='images/profilephoto.png')
													.listitem_info
														.listitem_title 
															b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
														.listitem_bottomdata #{item.userEmail}
										.colhh1.opacity_color.sl_title.msm_contactstitle(data-type='Profesor')
											.pd_12 Profesores
										if profileContactsTeachers != undefined
											each item in profileContactsTeachers
												.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-email='#{item.userEmail}' data-type='Profesor')
													.listitem_img
														img(src='images/profilephoto.png')
													.listitem_info
														.listitem_title 
															b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
														.listitem_bottomdata #{item.userEmail}

								.form_input2
									textarea#msm_textarea(placeholder='Escribe Algo')
								.pd_24
									.form_input(style='height: 52px;')
										span.bgaccent_color.bg_send.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid.bg_white
				.halfgrid
					.colhh1.topleftlist
						.colhh1.list_title.rel_pos
							.title
								.pd_18.ll_title Inbox
							.icons.rel_pos
								.small_icon.circle.bg_magnify.hover(title='Buscar')
								.small_icon.circle.bg_magnify.hover.minimenu(style='background-image: url("images/list_icon.png")' title='Mostrar')
								.minimenu_hidden.left_text(style='top: 9px;')
									.pd_16.hover.rippleria-dark(data-rippleria) Todo
									.pd_16.hover.rippleria-dark(data-rippleria) No Leidos
									.pd_16.hover.rippleria-dark(data-rippleria) Archivados
						.colhh1.bg_lightgray
							.search
								span.searchicon
								input#buscar(type='text' name='msm_chatsearch' placeholder='Buscar una conversación' autocomplete='off')
					#listcontainer.autooverflow.left_listcontainer.listcontainer
						.colhh1.empty_blocktext.center_text
							.centerempty
								.pd_64
									span.v_middle(style= 'background-image: url("images/bell-off.png")')
									.autocol.mm_title.pd_12 No tienes ninguna Conversación.
									.ll_title.normal_txt Presiona &nbsp; + &nbsp; para iniciar una conversación.
						.colhh1.no_result
						if lobbyData != undefined
							each item in lobbyData
								.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='24 Feb')
									.listitem_img
										img(src='images/profilephoto.png')
									.listitem_info.border_bottom
										.listitem_rightinfo 
											label 24 
											label Feb
										.listitem_title 
											b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
										.listitem_bottomdata  Lorem ipsum dolor sit amet
							.colhh1(style='height: 82px;')
						//- if profileContactsAdministrators != undefined
						//- 	each item in profileContactsAdministrators
						//- 		.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='24 Feb')
						//- 			.listitem_img
						//- 				img(src='images/profilephoto.png')
						//- 			.listitem_info.border_bottom
						//- 				.listitem_rightinfo 
						//- 					label 24 
						//- 					label Feb
						//- 				.listitem_title 
						//- 					b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
						//- 				.listitem_bottomdata  Lorem ipsum dolor sit amet
						//- if profileContactsStudents != undefined
						//- 	each item in profileContactsStudents
						//- 		.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='24 Feb')
						//- 			.listitem_img
						//- 				img(src='images/profilephoto.png')
						//- 			.listitem_info.border_bottom
						//- 				.listitem_rightinfo 
						//- 					label 24 
						//- 					label Feb
						//- 				.listitem_title 
						//- 					b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
						//- 				.listitem_bottomdata  Lorem ipsum dolor sit amet
						//- if profileContactsTeachers != undefined
						//- 	each item in profileContactsTeachers
						//- 		.colhh1.no_result
						//- 		.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='24 Feb')
						//- 			.listitem_img
						//- 				img(src='images/profilephoto.png')
						//- 			.listitem_info.border_bottom
						//- 				.listitem_rightinfo 
						//- 					label 24 
						//- 					label Feb
						//- 				.listitem_title 
						//- 					b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
						//- 				.listitem_bottomdata  Lorem ipsum dolor sit amet
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						img#msm_userimg.circle( src='images/profilephoto.png' )
						label.b_text Nombre Completo
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_16.hover.rippleria-dark(data-rippleria) Archivar
								.pd_16.hover.rippleria-dark(data-rippleria) Eliminar
								.pd_16.hover.rippleria-dark(data-rippleria) Vaciar
								.pd_16.hover.rippleria-dark(data-rippleria) Buscar
					.msmcontent
						if datos[0].msmColor != undefined
							style.
								.leftmsm{background-color: #{datos[0].msmColor};}
						.msm_innercontent
							.colhh1
								.msm_pd
									.colhh1.margin_bot.msm_block
										.msm_img
											img.circle(src='images/profilephoto.png' title='El otro fulano')
										.msm_text
											.colhh1.autooverflow
												.leftmsm.bg_blue.white_text
													i
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum
														span.msm_date 10:34 pm
											.colhh1.autooverflow
												.leftmsm.bg_blue.white_text
													.pd_12 
														|  Suspendisse hendrerit ultricies dui ut fringilla.
														span.msm_date 10:34 pm
									.colhh1.margin_bot.msm_block
										.msm_text
											.colhh1.autooverflow
												.rightmsm.bg_white
													i
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor.
														span.msm_date 10:34 pm
											.colhh1.autooverflow
												.rightmsm.bg_white
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
														span.msm_date 10:34 pm
										.msm_img
											img.circle.msm_imgright(src='images/profilephoto.png' title='Yo')
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Mensaje' )
							input.bgaccent_color.circle.bg_send.rippleria-dark( data-rippleria type='submit' , name='msmsend' , value='')
						

