extends layout

block content
		script( type='text/javascript' src='/js/ajax/ajaxProfile.js' )

		#new_item.float_buttoncontainer( title='Editar Perfil' )
			span.bg_edit.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Editar Perfil
				form.colhh1.hb_formcontainer(action='updateProfilePhotos', method='POST', , enctype="multipart/form-data")
					#new_profileback.colhh1.profile_bgcont
						#p_back.colhh1.profile_img.inbox_shadow
							.f_select.pd_18.autooverflow
								.input_filecontainer
									input#input_pBack.changep_input(type='file' name='updateProfileBack' accept='image/*')
								#selectBack.autocol.hover.trigger.borad.white_text
									span.small_icon.bg_camera.v_middle
									.autocol.v_middle.b_text(style='margin-left: -5px;')
										.pd_8 Actualizar portada
											span.pd_4
							.f_select
								.input_filecontainer
									input#input_pPhoto.changep_input(type='file' name='updateProfilePhoto' accept='image/*')
								#selectPhoto.photo.rel_pos
									img#p_img.circle.flat_shadow(src='profile_photos/' + datos[0].photoName + '.png')
									.photo_hiddenbutton.trigger.circle.bg_camera(title='Seleccionar imagen')
						.pd_24
							.colhh1
								.name
									div #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
									span #{datos[0].userEmail}
						.pd_12.autooverflow
							.autocol.right_float
								span.raised_button.rippleria-dark#close_hbl(data-rippleria)
									input(type='button' value='Cancelar')
								span.raised_button.bg_lightgray.rippleria-dark#pSubmitButton(data-rippleria)
									input.opacity_color(type='submit' value='Guardar cambios' disabled)

		.topspace
		.page_container
			.grid_profilebackgroundcontainer
				.block_container.bg_white.profile_bgcont.rel_pos
					.colhh1.profile_img
						.photo
							img.circle.flat_shadow(src='profile_photos/'+ datos[0].photoName +'.png')
					.pd_24
						.colhh1
							.name
								div #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
								span #{datos[0].userEmail}
					.pd_lr24
						.border_bottom

					.pd_16.center_text
						.rel_pos
							if privilegio != 3
								.colhh2
									.pd_4.sl_title
										| Contactos
									.pd_4.lighttext#countContacts(style='font-size: 21px;')
								.divider
								.colhh2
									.pd_4.sl_title
										| Cursos
									.pd_4.lighttext#countCourses(style='font-size: 21px;')
							if privilegio == 3
								.colhh1
									.pd_4.sl_title
										| Contactos
									.pd_4.lighttext#countContacts(style='font-size: 21px;')
										
				if privilegio != 3
					.block_container.bg_white.progress_profile
						.pd_18.ll_title.bg_lightgray
							| Rendimiento
						.pd_18
							.progress_emoticon.center_text
								#indicator.circle.bg_indigo
								span( style='background-image: url("/images/emoticon-sad.png")' )
								span( style='background-image: url("/images/emoticon-neutral.png")' )
								span( style='background-image: url("/images/emoticon-happy.png")' )
								span
						.pd_18
							.ll_title Promedio General
								span#signaturegralprom.right_float.ll_title 8.21
							.colhh1.bg_lightgray.inbox_shadow.borad
								#signatureprogress.progress_bar.bgaccent_color2.borad.flat_shadow

			.grid_rightcontainer
				.colhh1.h_listcontainer
					.rel_pos.block_container.top_hlist.bg_lightgray(style='box-shadow: none;')
						.h_listline.bgaccent_color
						.h_listtopcontainer
							.autocol.h_listitem.first
								.pd_16.rippleria-dark( data-rippleria ) Información
							.autocol.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Contactos
							- if(privilegio == 1 || privilegio== 2)
								.autocol.h_listitem
									.pd_16.rippleria-dark( data-rippleria ) Cursos

					.colhh1.h_listindex.first
						.block_container.bg_white
							.colhh1.bg_lightgray
								.pd_18.ll_title Personal
							.pd_18
								.pd_4
								.colhh1
									.pd_l8.sl_title Nombre: 
										span.margin_l.normal_txt #{datos[0].userName}
									.pd_8
									.pd_l8.sl_title Apellido Paterno: 
										span.margin_l.normal_txt #{datos[0].userLastName}
									.pd_8
									.pd_l8.sl_title Apellido Materno: 
										span.margin_l.normal_txt #{datos[0].userSecondLastName}
									.pd_8
									.pd_l8.sl_title Sexo: 
										span.margin_l.normal_txt #{datos[0].userSex}
								.pd_4
						.block_container.bg_white
							.colhh1.bg_lightgray
								.pd_18.ll_title Académico
							.pd_18
								.pd_4
								.colhh1
									.pd_l8.sl_title  Institución: 
										span.margin_l.normal_txt #{datos[0].instituteName}
								.pd_4

					.colhh1.h_listindex.contacts_cl
						.colhh1
							.colhh1.block_container.bg_lightgray
								.search.rel_pos
									span.searchicon
									input#search_block(type='text',name='buscar', placeholder='Buscar un contacto')
							#listcontainer.listcontainer
								.colhh1.flat_shadow.bg_white.empty_blocktext.center_text
									.pd_64
										span.v_middle(style= 'background-image: url("images/account-remove.png")')
										.autocol.pd_12.mm_title No tienes contactos.
								.colhh1.no_result.bg_white
								#profilecontacts_list
									.admins
										//- Aqui se agregan los admins con el front
									.students
										//- Aqui se agregan los alumnos con el front
									.teachers
										//- Aqui se agregan los profes con el front		
								
					- if (privilegio == 1 || privilegio == 2)
						.colhh1.h_listindex.courses_cl
							.colhh1
								.listcontainer
									.block_container.bg_white.empty_blocktext.center_text
										.pd_64
											span.v_middle(style= 'background-image: url("images/close-box.png")')
											.autocol.pd_12.mm_title No tienes ninguna asignatura.
									#profilecourses_list
									//- Aqui se agrega la lista de asignaturas
									
			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016
