extends layout

block content

	script( type='text/javascript' src='/ajax/ajaxProfile.js' )
	div
		#new_item.float_buttoncontainer( title='Editar Perfil' )
			span.bg_edit.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Editar Perfil
				.colhh1.hb_formcontainer
					form( name='forum_new' )
						.form_innercontainer
							.form_titlepad.flat_shadow.bgprimary_color
								.form_input.white_text.rel_pos
									input.activeline.white_text(type='text' required)
									label Nombres
							.pd_24
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='updateProfileUserLastName')
										input.second(type='text', placeholder='Materno' name='updateProfileUserSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='updateProfileuserSex')
										option H
										option M
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')

		.topspace
		.page_container
			.grid_profilebackgroundcontainer
				.block_container
					.colhh1.profile_img
						.pd_18
							.minimenu_container( title='Opciones' )
								.minimenu
									span
									span
									span
								.minimenu_hidden
									#profile_photo.pd_16.hover.rippleria-dark(data-rippleria) Foto de Perfil
									#profile_background.pd_16.hover.rippleria-dark(data-rippleria) Portada
						.photo
							img.circle( src='images/profilephoto.png' )
						.name
							.pd_18
								b #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
								span #{datos[0].userEmail}
				.form_profilephoto.block_container.bg_white
					.pd_16.bg_lightgray
						.ll_title Foto de Perfil
					.colhh1
						.pd_24
							.form_input
								.input_filecontainer
									input(type='file' name='attachedfile' id='attachedfile')
								.file_buttoncontainer
									span#trigger_fbutton.bg_attachment_white.circle.bg_pink.flat_shadow.rippleria-dark( data-rippleria title='Adjuntar Archivo' )
									.right_float
										#file_value.ll_title.opacity_color.border_thick Seleccionar Archivo
							.form_input(style='height: 52px;')
								span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
									input(type='submit' value='')
				.block_container.bg_white.progress_profile
					.pd_18
						.progress_emoticon
							#indicator.circle.bgaccent_color
							span( style='background-image: url("/images/emoticon-sad.png")' )
							span( style='background-image: url("/images/emoticon-neutral.png")' )
							span( style='background-image: url("/images/emoticon-happy.png")' )
							span
							div Tu rendimiento es muy bueno!
					.pd_18
						.ll_title Promedio General
							span#signaturegralprom.right_float.ll_title 8.21
						.colhh1.bg_lightgray.circle.inbox_shadow
							#signatureprogress.progress_bar.bgaccent_color.circle

			.grid_rightcontainer
				.colhh1.h_listcontainer
					.rel_pos.bg_white.block_container
						.h_listline.bgaccent_color
						.h_listtopcontainer
							.h_listitem.first
								.pd_16.rippleria-dark( data-rippleria ) Información
							.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Contactos
							- if(privilegio == 1 || privilegio== 2)
								.h_listitem
									.pd_16.rippleria-dark( data-rippleria ) Asignaturas

					.colhh1.h_listindex.first
						.block_container.bg_white
							.pd_18.bg_lightgray
								.colhh1.ll_title Personal
							.pd_18
								.pd_4
								.colhh1
									.pd_l8.sl_title Nombre: 
										span.margin_l.normal_txt #{datos[0].userName}
									.pd_8
									.pd_l8.sl_title Apellido Paterno: 
										span.margin_l.normal_txt #{datos[0].userLastName}
									.pd_8
									.pd_l8.sl_title Apellido Materno: 
										span.margin_l.normal_txt #{datos[0].userSecondLastName}
									.pd_8
									.pd_l8.sl_title Sexo: 
										span.margin_l.normal_txt #{datos[0].userSex}
								.pd_4
						.block_container.bg_white
							.pd_18.bg_lightgray
								.colhh1.ll_title Académico
							.pd_18
								.pd_4
								.colhh1
									.pd_l8.sl_title  Institución: 
										span.margin_l.normal_txt #{datos[0].instituteName}
									.pd_8
									.pd_l8.sl_title  Asignaturas Inscritas: 
										span.margin_l.normal_txt 6
								.pd_4
					.colhh1.h_listindex
						#contacts_list.block_container.bg_white
							.colhh1.bg_lightgray
								.search
									span.searchicon
									input#buscar_slide(type='text',name='buscar', placeholder='Buscar un contacto')
							#listcontainer.listcontainer
								.colhh1.empty_blocktext.center_text
									.pd_64
										span.v_middle(style= 'background-image: url("images/account-remove.png")')
										.autocol.pd_12.mm_title No tienes contactos.
								.colhh1.no_result
								if profileContactsAdministrators != undefined
									each item in profileContactsAdministrators
										.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Administrador')
											.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria)
												a(href='/messages')
													.listitem_righticon.circle.bg_chat.rippleria-dark(data-rippleria title='Enviar Mensaje a #{item.userName}')
												.listitem_img
													img(src='images/profilephoto.png')
												.listitem_info
													.listitem_title 
														b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
													.listitem_bottomdata Administrador
											.colhh1.innerlistitem(data-id='#{item.userEmail}')
												.colhh1.border_bottom
													.list_borderleft
														.colhh1
															.pd_llist
																.sl_title Información
															.pd_llist
																.colhh1.pd_l12.sl_title Correo: 
																	span.margin_l.normal_txt #{item.userEmail}
								if profileContactsStudents != undefined
									each item in profileContactsStudents
										.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Alumno')
											.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria)
												a(href='/messages')
													.listitem_righticon.circle.bg_chat.rippleria-dark(data-rippleria title='Enviar Mensaje')
												.listitem_img
													img(src='images/profilephoto.png')
												.listitem_info
													.listitem_title 
														b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
													.listitem_bottomdata Alumno
											.colhh1.innerlistitem(data-id='#{item.userEmail}')
												.colhh1.border_bottom
													.list_borderleft
														.colhh1
															.pd_llist
																.sl_title Información
															.pd_llist
																.colhh1.pd_l12.sl_title Correo: 
																	span.margin_l.normal_txt #{item.userEmail}
														- if (privilegio == 1 || privilegio == 2)
															.pd_8
															.colhh1
																.pd_llist
																	.sl_title Cursos en común
																.person_subjectslist
																	//- .colhh1.hover
																	//- 	.listitem_img
																	//- 		span B
																	//- 	.listitem_info
																	//- 		.listitem_title 
																	//- 			b #{item.subjectName}
																	//- 		.listitem_bottomdata
																	//- 			| Grupo: #{item.courseName}
								if profileContactsTeachers != undefined
									each item in profileContactsTeachers
										.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Profesor')
											.colhh1.hover.listitem.rel_pos.rippleria-dark.item_teacher(data-rippleria)
												a(href='/messages')
													.listitem_righticon.circle.bg_chat.rippleria-dark(data-rippleria title='Enviar Mensaje')
												.listitem_img
													img(src='images/profilephoto.png')
												.listitem_info
													.listitem_title 
														b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
													.listitem_bottomdata Profesor
											.colhh1.innerlistitem(data-id='#{item.userEmail}')
												.colhh1.border_bottom
													.list_borderleft
														.colhh1
															.pd_llist
																.sl_title Información
															.pd_llist
																.colhh1.pd_l12.sl_title Correo: 
																	span.margin_l.normal_txt #{item.userEmail}
														- if (privilegio == 1 || privilegio == 2)
															.pd_8
															.colhh1
																.pd_llist
																	.sl_title Cursos en común
																.person_subjectslist
																	//- .colhh1.hover
																	//- 	.listitem_img
																	//- 		span B
																	//- 	.listitem_info
																	//- 		.listitem_title 
																	//- 			b #{item.subjectName}
																	//- 		.listitem_bottomdata
																	//- 			| Grupo: #{item.courseName}
					- if (privilegio == 1 || privilegio == 2)
						.colhh1.h_listindex
							.block_container.bg_white
								#subjects_list.listcontainer
									.colhh1.empty_blocktext.center_text
										.pd_64
											span.v_middle(style= 'background-image: url("images/close-box.png")')
											.autocol.pd_12.mm_title No tienes ninguna asignatura.
									if subjectsProfileData != undefined
										each item in subjectsProfileData
											.colhh1.slide_list
												.colhh1.hover.listitem.rippleria-dark(data-name='#{item.subjectName}' data-type='#{item.courseName}')
													.listitem_img
														span A
													.listitem_info
														.listitem_rightinfo Promedio:
															label.subject_prom
														.listitem_title 
															b #{item.subjectName}
														.listitem_bottomdata.rank
															span.bg_blue
															span.bg_blue
															span.bg_blue
															span.bg_blue
															span.bg_blue
												.colhh1.innerlistitem
													.colhh1.border_bottom
														.list_borderleft
															.pd_llist
																.sl_title Información
															.pd_llist
																.colhh1.pd_l12.sl_title Grupo: 
																	span.margin_l.normal_txt #{item.courseName}
																.pd_4
																.colhh1.pd_l12.sl_title Academia: 
																	span.margin_l.normal_txt #{item.departmentName}
																.pd_4
																.colhh1.pd_l12.sl_title Nivel:
																	span.margin_l.normal_txt #{item.subjectLevel}
