extends layout

block content

		.topspace
		.colhh1.bdb_container.block_containersettings
			.doublegrid
				.halfgrid.autooverflow.v_top
					.colhh1
						.colhh1.block_container.bg_white(style='margin-top: 0;')
							.colhh1.bg_lightgray
								.pd_18.ll_title General
							.colhh1
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Correo Electrónico')
									.pd_18
										| Correo Electrónico
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Contraseña')
									.pd_18
										| Contraseña
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Nombre')
									.pd_18
										| Nombre
						.colhh1.block_container.bg_white
							.colhh1.bg_lightgray
								.pd_18.ll_title Seguridad
							.colhh1
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Sesiones Activas')
									.pd_18
										| Sesiones Activas
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Alerta de Inicio de Sesión')
									.pd_18
										| Alerta de Inicio de Sesión
						.colhh1.block_container.bg_white
							.colhh1.bg_lightgray
								.pd_18.ll_title Notificaciones
							.colhh1
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='En Aplicación')
									.pd_18
										| En Aplicación
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Mensajes a Correo')
									.pd_18
										| Mensajes a Correo
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Mensaje de Texto (SMS)')
									.pd_18
										| Mensaje de Texto (SMS)
						.colhh1.block_container.bg_white
							.colhh1.bg_lightgray
								.pd_18.ll_title Interfaz
							.colhh1
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Tema')
									.pd_18
										| Tema
								.colhh1.hover.listitem.settingsitem.rippleria-dark(data-rippleria data-name='Color Mensajes')
									.pd_18
										| Color Mensajes

				.halfgrid.secondgrid.v_top
					.block_container.bg_white(style='margin-top: 0;')
						.msmtopname.bg_lightgray
							span#backicon.backicon.rippleria-dark( data-rippleria )
							.letter.white_text.lighttext.circle
							label Configuración
						.colhh1.settings_rightinner
							.colhh1.settings_inneritem
								form(name='settingsform_updateEmail') 
									.pd_32
										.colhh1 
											.b_text Actual: 
												.pd_4
												.opacity_color #{datos[0].userEmail}
											.pd_12
										.form_input
											.b_text.left_title Correo
											input(type='email', placeholder='Nuevo Correo' name='userUpdateEmail' autocomplete='off' value='')
										.pd_16
										.ll_title.opacity_color Introduzca contraseña para Actualizar Correo.
										.pd_12
										.form_input
											.b_text.left_title Contraseña
											input(type='password', placeholder='Contraseña' name='userUpdatePassword' autocomplete='off' value='')
										.form_input(style='height: 52px;')
											span.bgaccent_color.bg_check.submit.circle.rippleria-dark(data-rippleria title='Confirmar')
												input(type='submit' value='')
							.colhh1.settings_inneritem
								form(name='settingsform_updatePassword')
									.pd_32
										.form_input
											.b_text.left_title Nueva Contraseña
											input(type='password', placeholder='Contraseña' name='userUpdateEmail' autocomplete='off' value='')
										.form_input
											.b_text.left_title Confirmar Contraseña
											input(type='password', placeholder='Contraseña' name='userUpdateEmail' autocomplete='off' value='')
										.pd_16
										.ll_title.opacity_color Introduzca contraseña Anterior para Actualizar.
										.pd_12
										.form_input
											.b_text.left_title Contraseña Anterior
											input(type='password', placeholder='Contraseña' name='userUpdatePassword' autocomplete='off' value='')
										.form_input(style='height: 52px;')
											span.bgaccent_color.bg_check.submit.circle.rippleria-dark(data-rippleria title='Confirmar')
												input(type='submit' value='')
							.colhh1.settings_inneritem
								form(name='settingsform_updateUserName') 
									.pd_32
										.colhh1 
											.b_text Actual: 
												.pd_4
												.opacity_color #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
											.pd_12
										.form_input
											.b_text.left_title Nombre
											input(type='text', placeholder='Nombre' name='userUpdateName' autocomplete='off')
										.form_input
											.b_text.left_title Apellidos
											.double
												input(type='text', placeholder='Paterno' name='userUpdateLastName' autocomplete='off')
												input.second(type='text', placeholder='Materno' name='userUpdateSecondLastName' autocomplete='off')
										.pd_16
											.pd_lr24.opacity_color 
												span.b_text Nota:
												|  Asegurate de poner tu nombre correctamente para que los demas puedan reconocerte. Ten cuidado con la capitalización.
										.pd_16
										.form_input(style='height: 52px;')
											span.bgaccent_color.bg_check.submit.circle.rippleria-dark(data-rippleria title='Confirmar')
												input(type='submit' value='')
							.colhh1.settings_inneritem
								.pd_12
								.pd_lr18.ll_title.opacity_color Sesión Actual
								.pd_4
								#settings_actualsession.colhh1
									.colhh1.slide_list
										.pd_lr8.hover.listitem.rippleria-dark(data-rippleria)
											.listitem_img
												span A
											.listitem_info
												.listitem_title 
													b Chrome Windows
												.listitem_bottomdata
													| Azcapotzalco, México D.F.
										.colhh1.innerlistitem
											.pd_24(style='height: 36px;')
												.autocol.right_float
													span.raised_button.button_shadow.bg_red.borad(data-rippleria)
														input.white_text(type='submit' value='Terminar Actividad')
								.pd_8
								.pd_lr18.ll_title.opacity_color Otras
								.pd_4
								#settings_othersession.colhh1
									.colhh1.slide_list
										.pd_lr8.hover.listitem.rippleria-dark(data-rippleria)
											.listitem_img
												span A
											.listitem_info
												.listitem_title 
													b App Android
												.listitem_bottomdata
													| Cuautémoc, México D.F.
										.colhh1.innerlistitem
											.pd_24(style='height: 36px;')
												.autocol.right_float
													span.raised_button.button_shadow.bg_red.borad(data-rippleria)
														input.white_text(type='submit' value='Terminar Actividad')
									.colhh1.slide_list
										.pd_lr8.hover.listitem.rippleria-dark(data-rippleria)
											.listitem_img
												span A
											.listitem_info
												.listitem_title 
													b App iOS
												.listitem_bottomdata
													| Gustavo A. Madero, México D.F.
										.colhh1.innerlistitem
											.pd_24(style='height: 36px;')
												.autocol.right_float
													span.raised_button.button_shadow.bg_red.borad(data-rippleria)
														input.white_text(type='submit' value='Terminar Actividad')
							.colhh1.settings_inneritem
								form(name='settingsloginAlert')
									.pd_32
										.colhh1.ll_title.opacity_color Notificaciones de Aplicación
										.pd_12
										.form_input.pd_l18
											input(type='radio' id='loginAlert1' name='loginAlertNotif' value='1' checked) 
											label(for='loginAlert1')
												span.circle
													span.circle
												.autocol.v_middle Recibir Nortificaciones
											br
											br
											input(type='radio' id='loginAlert2' name='loginAlertNotif' value='2') 
											label(for='loginAlert2')
												span.circle
													span.circle
												.autocol.v_middle No recibir Notificaciones
										.pd_12
										.colhh1.ll_title.opacity_color Correo Electrónico
										.pd_12
										.form_input.pd_l18
											input(type='radio' id='loginAlert3' name='loginAlertEmail' value='1' checked) 
											label(for='loginAlert3')
												span.circle
													span.circle
												.autocol.v_middle Recibir Nortificaciones
											br
											br
											input(type='radio' id='loginAlert4' name='loginAlertEmail' value='2') 
											label(for='loginAlert4')
												span.circle
													span.circle
												.autocol.v_middle No recibir Notificaciones
									.pd_24(style='height: 36px;')
										.autocol.right_float
											span.raised_button.borad.rippleria-dark(data-rippleria)
												input(type='button' value='Cancelar')
											span.raised_button.bg_blue.button_shadow.borad.rippleria-dark(data-rippleria)
												input.white_text.b_text(type='submit' value='Guardar Cambios')
							.colhh1.settings_inneritem
								form(name='settingsNotificationsApp')
									.pd_32
										.colhh1.ll_title.opacity_color ¿Qué notificaciones deseas recibir dentro de la aplicación?
										.pd_12
										.form_input.pd_l18
											input(type='radio' id='notifApp1' name='notifApp' value='1' checked) 
											label(for='notifApp1')
												span.circle
													span.circle
												.autocol.v_middle Recibir Todo
											br
											br
											input(type='radio' id='notifApp2' name='notifApp' value='2') 
											label(for='notifApp2')
												span.circle
													span.circle
												.autocol.v_middle Recibir Solo Modificaciones sobre la Cuenta
											br
											br
											input(type='radio' id='notifApp3' name='notifApp' value='3') 
											label(for='notifApp3')
												span.circle
													span.circle
												.autocol.v_middle No recibir Notificaciones
									.pd_24(style='height: 36px;')
										.autocol.right_float
											span.raised_button.borad.rippleria-dark(data-rippleria)
												input(type='button' value='Cancelar')
											span.raised_button.bg_blue.button_shadow.borad.rippleria-dark(data-rippleria)
												input.white_text.b_text(type='submit' value='Guardar Cambios')
							.colhh1.settings_inneritem
								form(name='settingsNotificationsMail')
									.pd_32
										.colhh1.ll_title.opacity_color ¿Qué notificaciones deseas recibir en tu correo electrónico?
										.pd_12
										.form_input.pd_l18
											input(type='radio' id='notifMail1' name='notifMail' value='1' checked) 
											label(for='notifMail1')
												span.circle
													span.circle
												.autocol.v_middle Recibir Todo
											br
											br
											input(type='radio' id='notifMail2' name='notifMail' value='2') 
											label(for='notifMail2')
												span.circle
													span.circle
												.autocol.v_middle Recibir Solo Modificaciones sobre la Cuenta
											br
											br
											input(type='radio' id='notifMail3' name='notifMail' value='3') 
											label(for='notifMail3')
												span.circle
													span.circle
												.autocol.v_middle No recibir Notificaciones
									.pd_24(style='height: 36px;')
										.autocol.right_float
											span.raised_button.borad.rippleria-dark(data-rippleria)
												input(type='button' value='Cancelar')
											span.raised_button.bg_blue.button_shadow.borad.rippleria-dark(data-rippleria)
												input.white_text.b_text(type='submit' value='Guardar Cambios')
							.colhh1.settings_inneritem
								form(name='settingsNotificationsMail')
									.pd_32
										.colhh1.ll_title.opacity_color ¿Qué notificaciones deseas recibir en mensajes SMS?
										.pd_12
										.form_input.pd_l18
											input(type='radio' id='notifTextSMS1' name='notifTextSMS' value='1' checked) 
											label(for='notifTextSMS1')
												span.circle
													span.circle
												.autocol.v_middle Recibir Todo
											br
											br
											input(type='radio' id='notifTextSMS2' name='notifTextSMS' value='2') 
											label(for='notifTextSMS2')
												span.circle
													span.circle
												.autocol.v_middle Recibir Solo Modificaciones sobre la Cuenta
											br
											br
											input(type='radio' id='notifTextSMS3' name='notifTextSMS' value='3') 
											label(for='notifTextSMS3')
												span.circle
													span.circle
												.autocol.v_middle No recibir Notificaciones
									.pd_24(style='height: 36px;')
										.autocol.right_float
											span.raised_button.borad.rippleria-dark(data-rippleria)
												input(type='button' value='Cancelar')
											span.raised_button.bg_blue.button_shadow.borad.rippleria-dark(data-rippleria)
												input.white_text.b_text(type='submit' value='Guardar Cambios')
							.colhh1.settings_inneritem

								form(name='formDesignTheme' id='formDesignTheme' method='post' action='setProfileTheme')
									.pd_32
										.colhh1.ll_title.opacity_color ¿Tema oscuro o claro?
										.pd_12
										.form_input(style='height: 40px;line-height:40px;')
											.pd_l18
												.autocol Activar Tema Oscuro
												.right_float
													if (datos[0].darkTheme == 0)
														input(type='checkbox' id='changeTheme' , name='changeTheme' , hidden , onChange='document.getElementById("formDesignTheme").submit()')
														label.switch(for='changeTheme')
													if (datos[0].darkTheme == 1)
														input(type='checkbox' id='changeTheme' , name='changeTheme' , hidden , onChange='document.getElementById("formDesignTheme").submit()' , checked)
														label.switch(for='changeTheme')
							.colhh1.settings_inneritem
								.pd_8
								.pd_24.settings_colors.center_text(style='padding-bottom: 8px;')
									script.
										var colorMsm = '#{datos[0].msmColor}';
									//- script colors 
								form(name='settingsform_updateMsmColor' action='setProfileMsmColor' method='post')
									.pd_24
										.form_input(style='height: 52px;')
											input(type='hidden' name='msmValueColor' value='' id='msmValueColor')
											span.bgaccent_color.bg_check.submit.circle.rippleria-dark(data-rippleria title='Confirmar')
												input(type='submit' value='')