extends layout

block content
		script( type='text/javascript' src='/ajax/ajaxSubjects.js' )

		#new_item.float_buttoncontainer( title='Nueva' )
			span.bg_plus.bgaccent_color

		.alert_container.flat_shadow.pd_18.borad.bg_white
			span.bg_alert
			span.alert_inner

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white.hb_responsive
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text.flat_shadow Inscribir Cursos
				.colhh1.hb_formcontainer
					form#add_subjectsform.hb_resgrid.rel_pos(name='subjects_add' action='insertSubjectsCoursesSelfUser' method='POST')
						.form_input2.border_bottom
							input#coursesAddInput(type='hidden' name='insertCoursesField')
						.colhh1.form_innercontainer.border_bottom
							.colhh1.sub_listtitle
								.pd_18.ll_title Cursos a Inscribir
							#added_subjects.colhh1.subjects_formlist.added_subjectsformlist
								.pd_18.center_text.ll_title.opacity_color#sub_hide Agrega un curso para Inscribir
									.pd_8
								//- Aqui van las asignaturas para agregar
							.pd_24#addSubjectsCoursesSubmit
								.form_input(style='height: 52px;')
									span#subjectsubmitButton.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input#submit_addsubjectsform.txtaccent_color2.b_text(type='submit' value='Aceptar')
					.colhh1.hb_resgrid.resgridright
						.colhh1.sub_listtitle
							.pd_18.ll_title Cursos Disponibles
						.pd_24(style='padding-top: 0;')
							.form_input
								.b_text.left_title.opacity_color Filtrar:
								.double
									select#subcourType.opacity_color.b_text
										option(value='None' selected) Sin filtro
										option(value='Subject') Asignatura
										option(value='Course') Grupo
									select#subcourList.second.opacity_color.b_text
										option(value='None' selected) Sin filtro
						#new_subjects.colhh1.subjects_formlist.listcontainer
							.colhh1.empty_blocktext.center_text
								.pd_64(style='padding-bottom: 48px;padding-top: 32px;')
									span.v_middle(style= 'background-image: url("images/close-box.png")')
									.autocol.mm_title.pd_12 No hay asignaturas para inscribir.
									.ll_title.normal_txt Al parecer ya inscribiste todo.
							if subjectscoursesData != undefined
								each item in subjectscoursesData
									.colhh1.slide_list(data-subjectfilter='#{item.subjectName}' data-coursefilter='#{item.courseName}')
										.pd_lr8.hover.listitem.rel_pos(data-subject='#{item.idSubject}' data-course='#{item.idCourse}' data-name='#{item.subjectName}')
											.listitem_righticon.circle.bg_plusgray.rippleria-dark(data-rippleria title='Agregar')
											.listitem_img
												span A
											.listitem_info
												.listitem_alert.txt_red
												.listitem_title 
													b #{item.subjectName}
												.listitem_bottomdata Grupo: #{item.courseName}
										.colhh1.innerlistitem
											.colhh1.border_bottom
												.list_borderleft
													.colhh1
														.pd_llist
															.sl_title Información
														.pd_llist
															.pd_l12.sl_title Nivel: 
																span.margin_l.normal_txt #{item.subjectLevel}
															.pd_4
															.pd_l12.sl_title Academia: 
																span.margin_l.normal_txt #{item.departmentName}
								.pd_16

		.topspace
		.page_container
			.grid_profilebackgroundcontainer
				.block_container
					.colhh1.profile_img
						a(href='/profile')
							.photo
								img.circle( src='images/profilephoto.png' )
							.name
								.pd_18
									b #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
									span #{datos[0].userEmail}
				.block_container.bg_white.progress_profile
					.pd_18
						.progress_emoticon
							#indicator.circle.bgaccent_color
							span( style='background-image: url("/images/emoticon-sad.png")' )
							span( style='background-image: url("/images/emoticon-neutral.png")' )
							span( style='background-image: url("/images/emoticon-happy.png")' )
							span
							div Tu rendimiento es muy bueno!
					.pd_18
						.ll_title Promedio General
							span#signaturegralprom.right_float.ll_title 8.21
						.colhh1.bg_lightgray.circle.inbox_shadow
							#signatureprogress.progress_bar.bgaccent_color.circle

			.grid_rightcontainer
				- if ( privilegio == 1 )
					.colhh1.block_container.bg_white
						.colhh1.bg_lightgray.border_bottom
							.pd_18.ll_title Mis asignaturas
						.colhh1
							#subjects_list.listcontainer
								.colhh1.empty_blocktext.center_text
									.pd_64
										span.v_middle(style= 'background-image: url("images/close-box.png")')
										.autocol.pd_12.mm_title Sin cursos.
										.ll_title.normal_txt Presiona &nbsp; + &nbsp; para inscribir cursos
								if subjectsProfileData != undefined
									each item in subjectsProfileData
										.colhh1.slide_list
											.colhh1.hover.listitem.rippleria-dark(data-name='#{item.subjectName}' data-type='#{item.courseName}')
												.listitem_img
													span A
												.listitem_info
													.listitem_rightinfo Promedio:
														label.subject_prom
													.listitem_title 
														b #{item.subjectName}
													.listitem_bottomdata.rank(title='Nivel #{item.subjectLevel}')
														script.
															var level = #{item.subjectLevel};
															for(var i = 0; i < level; i++){
																document.write('<span class="bg_blue"></span>');
															}
											.colhh1.innerlistitem
												.colhh1.border_bottom
													.list_borderleft
														.pd_llist
															.sl_title Información
														.pd_llist
															.colhh1.pd_l12.sl_title Grupo: 
																span.margin_l.normal_txt #{item.courseName}
															.pd_4
															.colhh1.pd_l12.sl_title Academia: 
																span.margin_l.normal_txt #{item.departmentName}
															.pd_4
															.colhh1.pd_l12.sl_title Nivel:
																span.margin_l.normal_txt #{item.subjectLevel}
				- else if ( privilegio == 2 )
					.h_listcontainer
						.block_container.bg_white
							.colhh1.rel_pos
								.h_listline.bgaccent_color
								.h_listtopcontainer
									.h_listitem.first
										.pd_16.rippleria-dark( data-rippleria ) Cursos
									.h_listitem
										.pd_16.rippleria-dark( data-rippleria ) Alumnos
						.block_container.bg_white
							.colhh1.h_listindex.first
								#subjects_list.listcontainer
									.colhh1.empty_blocktext.center_text
										.pd_64
											span.v_middle(style= 'background-image: url("images/close-box.png")')
											.autocol.mm_title.pd_12 No tienes ninguna asignatura.
											.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar asignaturas.
									if subjectsProfileData != undefined
										each item in subjectsProfileData
											.colhh1.slide_list
												.colhh1.hover.listitem.rippleria-dark(data-name='#{item.subjectName}' data-type='#{item.courseName}')
													.listitem_img
														span A
													.listitem_info
														.listitem_rightinfo Promedio:
															label.subject_prom
														.listitem_title 
															b #{item.subjectName}
														.listitem_bottomdata.rank(title='Nivel #{item.subjectLevel}')
															script.
																var level = #{item.subjectLevel};
																for(var i = 0; i < level; i++){
																	document.write('<span class="bg_blue"></span>');
																}
												.colhh1.innerlistitem
													.colhh1.border_bottom
														.list_borderleft
															.colhh1
																.pd_llist
																	.sl_title Información
																.pd_llist
																	.colhh1.pd_l12.sl_title Grupo: 
																		span.margin_l.normal_txt #{item.courseName}
																	.pd_4
																	.colhh1.pd_l12.sl_title Academia: 
																		span.margin_l.normal_txt #{item.departmentName}
																	.pd_4
																	.colhh1.pd_l12.sl_title Nivel:
																		span.margin_l.normal_txt #{item.subjectLevel}
															.pd_8
															.colhh1
																.pd_llist
																	.sl_title Alumnos
							#contacts_list.colhh1.h_listindex
								.colhh1.bg_lightgray.border_bottom
									.search.rel_pos
										span.searchicon
										input#buscar_slide(type='text',name='buscar', placeholder='Buscar un alumno')
								#listcontainer.listcontainer
									.colhh1.no_result
									.colhh1.empty_blocktext.center_text
										.pd_64
											span.v_middle(style= 'background-image: url("images/account-remove.png")')
											.autocol.pd_12.mm_title No tienes alumnos.
									if profileContactsStudents != undefined
										each item in profileContactsStudents
											.colhh1.slide_list(data-name='#{item.userName} #{item.userLastName} #{item.userSecondLastName}' data-type='Alumno')
												.colhh1.hover.listitem.rel_pos.rippleria-dark.item_student(data-rippleria)
													a(href='/messages')
														.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Calificar')
													.listitem_img
														img(src='images/profilephoto.png')
													.listitem_info
														.listitem_title 
															b #{item.userName} #{item.userLastName} #{item.userSecondLastName}
														.listitem_bottomdata Alumno
												.colhh1.innerlistitem(data-id='#{item.userEmail}')
													.colhh1.border_bottom
														.list_borderleft
															.colhh1
																.pd_llist
																	.sl_title Información
																.pd_llist
																	.colhh1.pd_l12.sl_title Correo: 
																		span.margin_l.normal_txt #{item.userEmail}
															.pd_8
															.colhh1
																.pd_llist
																	.sl_title Cursos en común
																.person_subjectslist
																	//- .colhh1.hover
																	//- 	.listitem_img
																	//- 		span B
																	//- 	.listitem_info
																	//- 		.listitem_title 
																	//- 			b #{item.subjectName}
																	//- 		.listitem_bottomdata
																	//- 			| Grupo: #{item.courseName}

